{% set active_page = "Home" %}
{% extends "base.html" %}

{% block top %}
<style>
  .back {
    background: url("{{config.background_image}}") no-repeat center;
    background-size: cover;
  }
  .back h2 {
    font-family: "Lato", sans-serif;
    font-weight: 900;
  }
  .page__hero-caption {
    bottom: 0;
    right: 0;
    margin: 0 auto;
    padding: 2px 10px;
    color: #fff;
    font-family: Georgia,Times,serif;
    font-size: 0.9em;
    text-align: right;
    z-index: 5;
    opacity: 0.5;
    border-radius: 4px 0 0 0;
  }
    .ctagcloud li {
        display:inline-block;
        text-transform:uppercase;
        font-size:1rem;
        font-weight:600;
        margin:4px;
        padding:8px 16px;
        -webkit-border-radius:3px;
        -moz-border-radius:3px;
        border-radius:3px;
        background:rgba(0,0,0,0.05);
        -webkit-transition:all 0.2s ease-in-out;
        -moz-transition:all 0.2s ease-in-out;
        transition:all 0.2s ease-in-out
    }
</style>

<div class="jumbotron jumbotron-fluid back" style="padding-bottom: 5px;">
  <div class="row header p-6 m-5">
    <div class="p-1 mx-auto text-center text-white col-md-9 col-sm-12">
      <h1>
        <b>{{config.tagline|safe}}</b><br>
      </h1>
      <h3>
          {{config.subtitle|safe}}<br>
      </h3>
<!--      <h5>-->
<!--        <br>-->
<!--        Deep Learning on Graphs for Natural Language Processing-->
<!--      </h5>-->
    </div>
  </div>
{#  <div class="page__hero-caption">Image Credit: NASA</div>#}
</div>

{% endblock %}
{% block heading %}


<div class="row">
    
    <div class="col-md-6 col-sm-12 pr-5 lead">
        <dl>
            <h2><b>A powerful and flexible deep graph learning library for natural language processing</b></h2>
            <h5>Graph4NLP is an easy-to-use library for R&D at the intersection of Deep Learning on Graphs and Natural Language Processing (i.e., DLG4NLP). It provides both full implementations of state-of-the-art models for data scientists and also flexible interfaces to build customized models for researchers and developers with whole-pipeline support. Built upon highly-optimized runtime libraries including DGL , Graph4NLP has both high running efficiency and great extensibility. </h5>


    </div>


    <!-- <div class="col-md-1"></div> -->
    
    
    <div class="col-md-5 col-sm-12">
        <div class="row m-2">
            <!-- Slides Live-->
            
            
            <div class="col-md-12 col-xs-12 my-auto p-2" >
                    <br> <br> <br>
                    <img src=static/images/graph4nlp_arch.001.png }}" class="rounded" style="height: 300px;"/>
                        
                
                
    <div>
        
        
        
    </div>
    
    
    
</div>


    </div>
</div>
</div>
<div class="pp-card m-3" style="">
    <div class="card-header">
<code>$ pip install graph4nlp         </code>
<button class="button" data-clipboard-text="pip install graph4nlp">Copy</button>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
<script>
    new ClipboardJS(".button");
    </script>
</div>
</div>
<div class="pp-card m-3" style="">
<div class="card-header">
            <h4>
                <b>Key Features</b>
            </h4>
            <div class="row">
                
                <div class="col-md-6 col-sm-12 pr-5 lead">
                    <div class="pp-card m-3 bg-light" style="">
                        <div class="card-header">
                    <span style="font-weight:bold;">Easy-to-use and Flexible</span><br><h7>Provides both full implementations of state-of-the-art models and also flexible interfaces to build customized models with whole-pipeline support</h7></div>
                        </div>
                        </div>
                
                <div class="col-md-6 col-sm-12 pr-5 lead">
                    <div class="pp-card m-3 bg-light" style="">
                        <div class="card-header">
                            <span style="font-weight:bold;">Rich Set of Learning Resources</span><br><h7>Provide a variety of learning materials including code demos, code documentations, research tutorials and videos, and paper survey<h7></div>
                    </div></div>
                
                <div class="col-md-6 col-sm-12 pr-5 lead">
                    <div class="pp-card m-3 bg-light" style="">
                        <div class="card-header">
                <span style="font-weight:bold;">High Running Efficiency and Extensibility</span><br><h7>Build upon highly-optimized runtime libraries including DGL and provide highly modulization blocks</h7>
                        </div>
                    </div>
</div>
                
                <div class="col-md-6 col-sm-12 pr-5 lead">
                    <div class="pp-card m-3 bg-light" style="">
                        <div class="card-header">
                    <span style="font-weight:bold;">Comprehensive Code Examples</span><br><h7>Provide a comprehensive collection of NLP applications and the corresponding code examples for quick-start
                    </h7></div>
                    </div></div>
                    
                    
                
            </div>
<!--            <h5>-->
<!--                View All Features [<a href="https://github.com/graph4ai/graph4nlp_demo">link</a>]-->
<!--            </h5>-->
</div>
</div>
<div class="pp-card m-3" style="">
    <div class="card-header">
<h4>
<b>Examples for Various Natural Language Processing Tasks</b>
</h4>
<div class="row">
    
    <div class="col-md-6 col-sm-12 pr-5 lead">
        <div class="pp-card m-3 bg-light" style="">
            <div class="card-header">
            <center>
        <img src=static/images/dlg-fig1.001.png }}" class="rounded" style="height: 80px;"/>
        <br><p style="color:red;font-weight:bold;">Text Classification <a href="https://graph4ai.github.io/graph4nlp/tutorial/text_classification.html">[demo]</a></p>
      </div></center></div></div>
        <div class="col-md-6 col-sm-12 pr-5 lead">
        <div class="pp-card m-3 bg-light" style="">
        <div class="card-header">
        <center>
        <img src=static/images/dlg-fig1.002.png }}" class="rounded" style="height: 80px;color:red;"/><br><p style="color:red;font-weight:bold;">Semantic Parsing <a href="https://graph4ai.github.io/graph4nlp/tutorial/semantic_parsing.html">[demo]</a>
    </div></center></div></div>
    
    <div class="col-md-6 col-sm-12 pr-5 lead">
        <div class="pp-card m-3 bg-light" style="">
            <div class="card-header">
                <center>
        <img src=static/images/dlg-fig1.003.png }}" class="rounded" style="height: 80px;color:red;"/><br><p style="color:red;font-weight:bold;">Math Word Problem <a href="https://graph4ai.github.io/graph4nlp/tutorial/math_word_problem.html">[demo]</a>
      </div></center></div></div>
        
        <div class="col-md-6 col-sm-12 pr-5 lead">
        <div class="pp-card m-3 bg-light" style="">
        <div class="card-header">
        <center>
        <img src=static/images/dlg-fig1.004.png }}" class="rounded" style="height: 80px;"/><br><p style="color:red;font-weight:bold;">Knowledge Graph Completion <a href="https://graph4ai.github.io/graph4nlp/tutorial/knowledge_graph_completion.html">[demo]</a></div></center></div></div>
<!--<h5>-->
<!--Text Classification [<a href="https://graph4ai.github.io/graph4nlp/tutorial/text_classification.html">link</a>]-->
<!--</h5>-->
<!--<h5>-->
<!--Semantic Parsing [<a href="https://graph4ai.github.io/graph4nlp/tutorial/semantic_parsing.html">link</a>]-->
<!--</h5>-->
<!--<h5>-->
<!--Math Word Problem [<a href="https://graph4ai.github.io/graph4nlp/tutorial/math_word_problem.html">link</a>]-->
<!--</h5>-->
<!--<h5>-->
<!--Knowledge Graph Completion [<a href="https://graph4ai.github.io/graph4nlp/tutorial/knowledge_graph_completion.html">link</a>]-->
<!--</h5>-->

</div>
</div>


{% endblock %}

