{% extends "base.html" %}
{% set active_page = "Tutorials" %}
{% set page_title = "Tutorials" %}

{% block heading %}
{#{{ components.section("Tutorial") }}#}

{{ components.section("Graph4NLP Tutorials") }}


{#<div class="text-center p-3">#}
{#    <a class="card-link" role="button" href="#MQ_tutorials">#}
{#      Morning Quarter-day Tutorials#}
{#    </a>#}
{#    <a class="card-link" role="button" href="#MH_tutorials">#}
{#      Morning Half-day Tutorials#}
{#    </a>#}
{#    <a class="card-link" role="button" href="#AQ_tutorials">#}
{#      Afternoon Quarter-day Tutorials#}
{#    </a>#}
{#    <a class="card-link" role="button" href="#AH_tutorials">#}
{#      Afternoon Half-day Tutorials#}
{#    </a>#}
{#</div>#}

{% endblock %}

{% block tabs %}
<ul class="nav nav-pills justify-content-center">
  <li class="nav-item">
    <a
      class="nav-link active"
      data-toggle="tab"
      href="#tab-mq"
      role="tab"
      aria-controls="nav-home"
      aria-selected="true"
      >Tutorials
    </a>
  </li>

</ul>
{% endblock %}

{% block content %}

{#<div class="tutorials">#}
{#    {{ components.tutorialgroup(tutorials) }}#}
{#</div>#}

<div class="tab-content" id="nav-tabContent">

  <div
    class="tab-pane fade active show"
    id="tab-mq"
    role="tabpanel"
    aria-labelledby="nav-profile-tab"
  >

    <div id="tab-mq">
      <div class="plenary_sessions">
        {{ components.uc_abstracts_group(tutorials) }}
      </div>
    </div>
  </div>

</div>

<script src="static/js/lazy_load.js"></script>
<script type="text/javascript">
  lazyLoader();
</script>

<script src="static/js/time-extend.js"></script>
<script>
  $(document).ready(()=>{
    add_local_tz('.session_times');
  })
</script>
{% endblock %}
